@import url(../../../styles.css);

.fontFam{
  font-family: 'Lato', sans-serif;
}

.gradient {
  background: linear-gradient(90deg, #000000 5%, #BD4E80 49.48%, #2ABCDA 100%);;
}

.navbar-menu a{
  font-family: 'Lato', sans-serif;
}

.navbar-menu a:hover{
  font-family: 'Lato', sans-serif;
}

@media (max-width: 768px) {
  .navbar-menu a {
    background-color: transparent;
  }
}
